@inherits CharacterElementComponentBase
@inject HttpClient Http
@inject AuthenticationStateProvider Auth

<button @onclick="async _ => await TryUpload()">
	⬆ Сохранить
</button>
<span>
	@(Response is null ? string.Empty : Response.IsSuccessStatusCode ? "✅" : "❌")
</span>

@code {
	private HttpResponseMessage? Response { get; set; }
	private AuthenticationState AuthState { get; set; } = null!;

	private async ValueTask TryUpload()
	{
		Response = await Http.PostAsJsonAsync("api/CharacterDrafts", Draft);
	}

	protected override async Task OnInitializedAsync()
	{
		AuthState = await Auth.GetAuthenticationStateAsync();
	}
}
